<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.java1234.dao.NewsDao">

	<resultMap type="News" id="NewsResult">
		<result property="id" column="id" />
		<result property="title" column="title" />
		<result property="content" column="content" />
		<result property="createTime" column="createTime" />
	</resultMap>
	

	<select id="findNewsList" parameterType="Map" resultMap="NewsResult">
		select * from t_news ORDER BY createTime DESC LIMIT 7 
	</select>
	<select id="getNewsById" parameterType="int" resultMap="NewsResult">
		select * from t_news where id = #{newsId} 
	</select>


</mapper> 